/* extra global variables expect ../ant/lessModifyVars.ts 
---------------------------------------------------------------- */

@white-color: rgba(255, 255, 255, 1); // 纯白色
@red-color: rgba(255, 0, 0, 1); // 红色
@white-mask-color: rgba(255, 255, 255, 0.4); // 白色透明遮罩

// 按钮等遮罩层颜色
@active-hover: rgba(0, 0, 0, 0.1); // 激活遮罩
@text-color: rgba(37, 37, 37, 1); // 主文本色
@text-color-secondary: rgba(82, 82, 82, 1); // 次文本色
@text-color-tertiary: rgba(134, 134, 134, 1); // 三级文本色
@divider-color: rgba(238, 238, 238, 1); // 分割线颜色
